{% extends "index.html" %}

{% block title %}{{ page.title ~ " - " ~ config.title}}{% endblock title %}

{% block content %}
    <h1>{{ page.title }}</h1>
    {{ page.content | safe }}
{% endblock content %}

{% block prev_link %}
    {% if page.lighter %}
        <a class="previous" href="{{ page.lighter.permalink }}"><i class="fa fa-angle-left"></i></a>
    {% else %}
        {# No page before, find the link for the section it's in if there is one #}
        {% set index = get_section(path="_index.md") %}
        {% for subsection in index.subsections %}
            {% for p in subsection.pages %}
                {% if p.path == current_path %}
                    {% set section = subsection %}
                    <a class="previous" href="{{ section.permalink }}"><i class="fa fa-angle-left"></i></a>
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endblock prev_link %}

{% block next_link %}
    {% if page.heavier %}
        <a class="next" href="{{ page.heavier.permalink }}"><i class="fa fa-angle-right"></i></a>
    {% else %}
        {# No page after, find the link for the following section #}
        {% set index = get_section(path="_index.md") %}
        {% set found_current = false %}
        {% for subsection in index.subsections %}
            {% if found_current %}
                <a class="next" href="{{ subsection.permalink }}"><i class="fa fa-angle-right"></i></a>
                {# no break #}
                {% set_global found_current = false %}
            {% endif %}
            {% for p in subsection.pages %}
                {% if p.path == current_path %}
                    {% set_global found_current = true %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endblock next_link %}
