name: zola build + publish

on:
  pull_request:
    branches:
      - refs/pull/*
  push:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@master
    - name: get zola runtime
      env:
        ZOLA_VERSION: v0.7.0
      run: curl -s -L https://github.com/getzola/zola/releases/download/${ZOLA_VERSION}/zola-${ZOLA_VERSION}-x86_64-unknown-linux-gnu.tar.gz | tar xvzf - -C $HOME
    - name: build
      run: $HOME/zola build
    - name: get python 2.7
      if: github.event_name != 'pull_request'
      uses: actions/setup-python@v1
      with:
        python-version: 2.7
    - name: publish
      if: github.event_name != 'pull_request'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        pip install ghp-import &&
        ghp-import -n public &&
        git push -fq https://${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git gh-pages
